@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Nanum+Gothic&family=Raleway:wght@300;400&family=Roboto+Slab:wght@300&display=swap');


body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header part of the website */
.header{
  height:100px;
  background-color: #232323;
  display: flex;
  align-items: center;
  padding: 0 20px 0px 40px;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* removing default link properties */
a{
  text-decoration: none;
  color: white;
}

/* styling of each button of navbar */
.btn{
  margin-top: 15px;
  margin-left: 10px;
  font-family: "Raleway", Sans-serif;
  font-size: 19px;
  font-weight: 800;
  background-color: #232323;
  color: #FFFFFF;
  padding: 0px 15px 0px 15px;
}


/* contact button of navbar */
span{
  font-family: "Raleway", Sans-serif;
  font-size: 20px;
  font-weight: 800;
}


/* outer block of all the navbar buttons */
.btns{
  display: flex;

}

/* when button is being hovered */
.btn>a:hover{
  color: #BA1F19;
}


/* hamburger logo in navbar  */
.hamburger-logo{
  position: absolute;
  top: 40px;
  right:40px;
  display: none;
}



/* dropdown menu custom style */
.ant-dropdown-menu{
  margin-top: 31px !important;
  background-color:#232323 !important;
  margin-left: -1rem !important; 
  padding: 10px !important;
}

.ant-dropdown-menu a{
  color:white !important ;
 
}

.ant-dropdown-menu-title-content a:hover{
  color: #BA1F19 !important;
  transition: all 2s ease-in-out !important;
}
.ant-dropdown-menu-item{
  margin-bottom: 20px !important;
}


/* sidebar */
.sidebar{
  position: absolute;
  width: 100%;
  left: 0;
  display: flex;
  z-index: 1000;
  height: 100%;
  transition: transform 0.5s ease-in;
}


/* sidebar hide */
.sidebarGo{
  transform: translate(-100%,0);
}

.sidebar .bgshadow{
  width: 80%;
  background-color: rgba(35, 35, 35,0.4);
}
.sidebar .main-sidebar{
  width: 400px;
  background-color: #232323;
  height: 100%;
}
.sidebar .btn-cross{
  margin-left: auto;
  /* border: #FFFFFF 2px solid ; */
  border-radius: 1px;
  padding: 3px 15px;
}
.sidebar .sidebar-header{
  margin: 1rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.sidebar .sidebar-content{
  margin: 30px 0 0 0px;
}

.sidebar .sidebar-content ul li{
  padding-left: 15px;
  background-color:black;
  padding-bottom:25px;
  padding-top: 10px;
  border-bottom: 0.4px solid #FFFFFF;
  list-style: none;
  margin-left: -35px;
  /* margin-bottom: 25px; */
}
.sidebar .sidebar-content ul li a{
  font-weight: 700;
}


/* styling of contact button in navbar */
.btn-contact{
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 0px !important;
  font-family: "Raleway", Sans-serif;
  padding: 10px 30px;
  border-radius: 8px;
  font-size: 22px;
  font-weight: 900;
  background-color:#BA1F19;
  color: #FFFFFF;
  transition: all 0.2s ease-in-out;
}
.btn-contact:hover {
  font-family: "Raleway", Sans-serif;
  font-size: 22px;
  font-weight: 900;
  background-color: #FFFFFF;
  color: #BA1F19 ;
}
/* second section carousel style */
.carousel{
  color: #FFFFFF;
  width: 100%;
  background: url("./Assets//Images/Euphoria\ Bg\ Img.png") no-repeat ;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55rem;
  padding: 150px;
}



.carousel .carousel-heading{
  font-size: 60px;
  text-align: center;
  word-wrap: break-word;
  /* animation: blink 1s 1s infinite ; */
}

/* use for blinking */
/* @keyframes blink {
100% {
color: red;
}
}
@-webkit-keyframes blink 
{
0% {
color: yellow;
}
} */

/* Introduction Section*/
.intro{
  box-sizing: border-box;
  width: 100%;
  /* height: 564px; */
  background-color: #232323;
  margin-top: -16px;
  text-align: center;
  padding: 50px;
}

.intro .heading{
  color: #DEDEDE;
  font-family: "Raleway", Sans-serif;
  font-size: 44px;
  font-weight: 900;
}

.intro .para{
  color: #FFFFFF;
  color: #DEDEDE;
  font-family: "Raleway", Sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.intro .sched-call{
  font-family: "Raleway", Sans-serif;
    font-size: 22px;
    font-weight: 900;
    line-height: 20px;
    background-color: #BA1F19;
    padding: 22px 100px 20px 100px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.intro .sched-call:hover{
  font-family: "Raleway", Sans-serif;
  font-size: 22px;
  font-weight: 900;
  line-height: 20px;
  background-color: #FFFFFF;
  color: #BA1F19;
}

.intro .our-projects{
  margin-top: 100px;
  color: #FFFFFF;
  font-family: "Raleway", Sans-serif;
  font-size: 41px;
  font-weight: 600;
}


/* elementar grid */
.elementer-grid{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.elementer-grid .card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 674px;
  height: 402px;
}

.elementer-grid .card .heading a{
  font-family: "Roboto", Sans-serif;
    font-size: 23px;
    font-weight: 600;
    box-shadow: none;
    text-decoration: none;
}
.elementer-grid .card .heading {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

.elementer-grid .card .heading a:hover{
  color: #BA1F19;
}
.elementer-grid .card-1{
  background: url("./Assets/Images/card-1 bg-img.jpeg")  no-repeat;
  background-size: cover;
}
.elementer-grid .card-2{
  background: url("./Assets/Images/card-2 bg-img.jpeg")  no-repeat;
  background-size: cover;
}
.elementer-grid .card-3{
  background: url("./Assets/Images/card-3 bg-img.jpeg")  no-repeat;
  background-size: cover;
}
.elementer-grid .card-4{
  background: url("./Assets/Images/card-4 bg-img.jpeg")  no-repeat;
  background-size: cover;
}
.elementer-grid .card-5{
  background: url("./Assets/Images/card-5 bg-img.jpeg")  no-repeat;
  background-size: cover;
}
.elementer-grid .card-6{
  background: url("./Assets/Images/card-6 bg-img.jpeg")  no-repeat;
  background-size: cover;
}
.elementer-grid .card-7{
  background: url("./Assets/Images/card-7 bg-img.jpeg")  no-repeat;
  background-size: cover;
}
.elementer-grid .card-8{
  background: url("./Assets/Images/card-8 bg-img.jpeg")  no-repeat;
  background-size: cover;
}
.elementer-grid .card-1 .card-image-wrapper{
  visibility:hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.elementer-grid .card-2 .card-image-wrapper{
  visibility:hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.elementer-grid .card-3 .card-image-wrapper{
  visibility:hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.elementer-grid .card-4 .card-image-wrapper{
  visibility:hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.elementer-grid .card-5 .card-image-wrapper{
  visibility:hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.elementer-grid .card-6 .card-image-wrapper{
  visibility:hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.elementer-grid .card-7 .card-image-wrapper{
  visibility:hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.elementer-grid .card-8 .card-image-wrapper{
  visibility:hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* special hover on card 5 and 8 due to white background color */
.elementer-grid .card-5:hover .card-image-wrapper{
  background-color: rgba(255, 255, 255, 0.3) !important;
}
.elementer-grid .card-5:hover .heading{
  background-color: rgba(255, 255, 255, 0.3) !important;
}
.elementer-grid .card-8:hover .card-image-wrapper{
  background-color: rgba(255, 255, 255, 0.3) !important;
}
.elementer-grid .card-8:hover .heading{
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.elementer-grid .card:hover .heading{
  background-color: rgba(0, 0, 0,0.5);
}
.elementer-grid .card:hover .card-image-wrapper{
  visibility: visible;
  
  background-color: rgba(0, 0, 0,0.5);
}

.elementer-grid .card img:hover{
  animation: 0.6s linear 0s 1 alternate Vibrate;
}


/* logo to and fro movement animation */
@keyframes Vibrate{
  0%{
    margin-left: 20px;
  }
  50%{
    margin-right: 40px;
  }
  100%{
    margin-left: 20px;
  }
}




/* more about css */
.more-about{
  display: inline-grid;
  grid-template-columns: repeat(
    auto-fit, minmax(400px, 1fr));
  /* grid-template-rows:auto; */
  width: 100%;
  /* height: 50rem; */
}

.more-about .widget{
  box-sizing: border-box;
  max-width: 550px;
  height: 450px;
}
.more-about .widget-1{
  background: url("./Assets/Images/foodImg.jpg") no-repeat;
  background-size: cover;
}
.more-about .widget-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}
.more-about .widget-2 h4{
  font-size: 2.2rem;
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
  text-align: center;
    color: #525252;
  margin-bottom: 0px;
}

.more-about .widget p{
  text-align: center;
  font-size: 1.4rem;
  line-height: 2.5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.more-about .widget-3{
  background-color: #525252;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-about .widget-5{
  background: url("./Assets/Images/widget-5bgimg.jpg") no-repeat;
  background-size: cover;
}
.more-about .widget-9{
  background: url("./Assets/Images/widget-9\ bgimg.jpg") no-repeat;
  background-size: cover;
}


/* our client box section */
.our-client{
  background-color: #232323;
  text-align: center;
}

.our-client .title h3{
  color: #DEDEDE;
  font-family: "Raleway", Sans-serif;
  font-size: 44px;
  font-weight: 35rem;
}

.our-client p{
  width: 65%;
  margin: auto;
  color: #FFFFFF;
  color: #DEDEDE;
  font-family: "Raleway", Sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.client-grid-container{
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232323;
}
.client-grid{
  width: 80%;
  justify-content: center;
  padding-top: 20px;
  row-gap: 12px;
  column-gap: 70px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}



/* footer */
.footer-container{
  padding: 30px;
  box-sizing: border-box;
  background-color: #232323;
  text-align: center;
}

.footer-container h1{
  color: #DEDEDE;
  font-family: "Raleway", Sans-serif;
  font-size: 30px;
  font-weight: 500;
}


.footer-goto ul{
  margin: 30px auto auto auto ;
  list-style:none ;
  width: 60%;
  justify-content: space-around;
  display: flex;  
}

.footer-goto ul li{
  font-size: 1rem;
    font-weight: 700;
  margin-right: 30px;
}
.footer-goto ul li a:hover{
  color: #BA1F19;
}

.footer-container .logo{
  
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container .logo a{
  cursor: pointer;
  margin-right: 30px;
}

.footer-container .copyright{
  box-sizing: border-box;
  padding-top: 30px;
  line-height: 1;
  font-weight: 900;
}
.btn-get-touch{
  font-family: "Raleway", Sans-serif;
    font-size: 22px;
    font-weight: 900;
    line-height: 20px;
    background-color: #BA1F19;
    padding: 22px 100px 20px 100px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.btn-get-touch:hover{
  font-family: "Raleway", Sans-serif;
  font-size: 22px;
  font-weight: 900;
  line-height: 20px;
  background-color: #FFFFFF;
  color: #BA1F19;
}




/* responsiveness */
@media screen and (max-width:1050px) {
  /* decreasing the size of carousel text */
  .carousel .carousel-heading{
    font-size: 20px;
  }

  @media screen and (max-width:1028px) {
    /* hiding all the buttons of navbar and displaying hamburger */
    .btn, .btn-contact{
      display: none;
    }
    .hamburger-logo{
      display: block;
    }
    .header .logo img{
      width: 200px;
    }
  }
}


@media screen and (min-width: 1600px){
h3 {
    font-size: 2.8rem;
}
}
@media screen and (min-width: 1200px){
h3 {
    font-size: 2.5rem;
}
}
@media screen and (min-width: 600px){
h3 {
    font-size: 2.5rem;
}
}

